*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open{
    background-image: url(./design1/linkedin_banner_image_2.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: right;

}

/*animated css*/
.cart-container {
    position: relative;
    width: 300px;
    height: 200px;
  }
  
  #cart {
    height: 200px;
    width: 250px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: left 1s linear;
  }
  /*outro*/
.outro{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}
.open{
    background-image: url();
}
.open p {
    color: rgb(91,48,90);
    font-size: 40px;
    margin: -600px 300px 0px 900px;
    font-family: font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', sans-serif;
}
.open h1{
    color: rgb(91,48,90);
    font-size: 30px;
    font-family: font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', sans-serif;
}
    
.Head-wrap{
    width: 100vw;
    flex-wrap: wrap;
    background-color: rgb(228,151,86);
}


.wrap{
    width: 100vw;
    height: 15vh;
    background-image: url(./images/black_wallpaper\ \(1\).jpg);
    background-size: cover;
}
.wrap p{
    color: rgb(228,151,86);
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.body-wrap{
    
    height: 10vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.body-wrap p{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.sell-img{
    width: 40px;
    height: 40px;
}
.credit-card{
    width: 40px;
    height: 40px;
}
.food-img{
    width: 40px;
    height: 40px;
}
.wrap2 img{
    width: 20px;
    height: 40px;
}

.line{
    width: 100vw;
    height: 0.2vh;
    background-color: black;
}
.dis-img{
    width: 200px;
    height: 100px;
}
.placeholder{
    margin-top: 40px;
    width: 150px;
    height: 250px;
}
.srch{
    width: 100px;
    height: 50px;
}
.account{
    width: 20px;
    height: 40px;
}
.account1{
    margin-top: 35px;
    width: 25px;
    height: 40px;
}

.futa-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Body-wrap{
    width: 100vw;
    height: 100vh;
    margin: 0px 100px 200px 100px;
    display: flex;
    justify-content: space-evenly;
}
.hiddenContent{
    display: none;
}

.revealBtn{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    background-color: rgb(228,151,86);
    width: 100vw;
}
.products img{
    height: 200px;
    width: 250px;
}
.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dis{
    width: 80px;
    height: 40px;
}
.description{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;  
}

.description p{
    font-size: 22px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.boxes{
    width: 100vw;
    border-radius: 10px;
    border: 2px solid black;
}
.email{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(39,43,51);
}
.placeholder{
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 2px;
}
.em{
    display: flex;
   flex-wrap: wrap;
}
.em h3{
    color: aliceblue;
}
.em p{
    color: aliceblue;
}
.btn{
    height: 50px;
    width: 100px;
    background-color: rosybrown;
}
.Footer-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgb(83,83,87);
   
}
.upper{
    margin: 0px 50px 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.middle{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 0px;
}
.mid-img{
    height: 140px;
    width: 80px;
    

}
.lower{
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dis2{
    align-items: center;
    width: 200px;
    height: 100px;

}
.sidebar p{
    text-decoration: none;
}