*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Head-wrap{
    background-color: orange;
}
.wrap{
    width: 100vw;
    height: 15vh;
    background-image: url(./images/black_wallpaper\ \(1\).jpg);
    background-size: cover;
}
.wrap p{
    color: orange;
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.body-wrap{
    
    height: 10vh;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.body-wrap p{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.sell-img{
    width: 40px;
    height: 40px;
}
.credit-card{
    width: 40px;
    height: 40px;
}
.food-img{
    width: 40px;
    height: 40px;
}
.wrap2 img{
    width: 40px;
    height: 40px;
}

.line{
    width: 100vw;
    height: 0.2vh;
    background-color: black;
}
.dis-img{
    width: 200px;
    height: 100px;
}
.placeholder{
    margin-top: 40px;
    width: 50vw;
    height: 5vh;
}
.srch{
    width: 10vw;
    height: 6vh;
}
.account{
    width: 40px;
    height: 40px;
}
.account1{
    margin-top: 35px;
    width: 40px;
    height: 40px;
}

.futa-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Body-wrap{
    width: 100vw;
    height: 100vh;
  
    margin: 0px 100px 200px 100px;
    display: flex;
    justify-content: space-evenly;
}
.hiddenContent{
    display: none;
}

.revealBtn{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    background-color: #ffa500;
    width: 100vw;
}
.products img{
    height: 150px;
    width: 300px;
}
.products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dis{
    width: 80px;
    height: 40px;
}
.description{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;   
}

.description p{
    font-size: 16px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.boxes{
    width: 100vw;
    height: 40vh;
    border-radius: 10px;
    border: 2px solid black;
}
.email{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(39,43,51);
}
.placeholder{
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
}
.em{
    display: flex;
    flex-direction: column;
}
.em h3{
    color: aliceblue;
}
.em p{
    color: aliceblue;
}
.btn{
    height: 50px;
    width: 100px;
    background-color: rosybrown;
}
.Footer-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgb(83,83,87);
   
}
.upper{
    margin: 0px 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.middle{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 50px;
}
.mid-img{
    height: 140px;
    width: 80px;
    

}
.lower{
    margin: 50px 50px 200px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dis2{
    align-items: center;
    width: 200px;
    height: 100px;

}
.sidebar p{
    text-decoration: none;
}